apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  parentRefs:
    - name: main-gateway
      namespace: gateway
  hostnames:
    - auth.lippok.dev
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80