authentik:
  nameOverride: authentik
  
  authentik:
    secret_key: "qOidwAXE/T4L0DuUq3WEe2ECZ/WWMadCMOjq3UD6cHg=" # For testing only, will be handled by HC Vault once deployed
    error_reporting:
      enabled: true
  
  postgresql:
    enabled: false

  server:
    env:
      - name: AUTHENTIK_POSTGRESQL__CONN_MAX_AGE
        value: "600"
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_SECRET_KEY
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: endpoint
      - name: AUTHENTIK_POSTGRESQL__PORT
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: port
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: username
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: password
      - name: AUTHENTIK_POSTGRESQL__NAME
        value: "authentik-db"

  worker:
    env:
      - name: AUTHENTIK_POSTGRESQL__CONN_MAX_AGE
        value: "600"
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_SECRET_KEY
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: endpoint
      - name: AUTHENTIK_POSTGRESQL__PORT
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: port
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: username
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-db-conn
            key: password
      - name: AUTHENTIK_POSTGRESQL__NAME
        value: "authentik-db"
