authentik:
  nameOverride: authentik
  
  # For testing only, will be handled by HC Vault once deployed
  secret_key: "qOidwAXE/T4L0DuUq3WEe2ECZ/WWMadCMOjq3UD6cHg="
  
  error_reporting:
    enabled: true
  postgresql:
    enabled: true
  redis:
    enabled: true

redis:
  architecture: standalone
  master:
    persistence:
      enabled: false
    extraVolumes:
      - name: redis-ram-data
        emptyDir:
          medium: Memory
          sizeLimit: 1Gi
    extraVolumeMounts:
      - name: redis-ram-data
        mountPath: /bitnami/redis/data

postgresql:
  architecture: standalone
  primary:
    persistence:
      enabled: true
      storageClass: "nfs-client"
      size: 10Gi