apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vault
  namespace: vault
spec:
  parentRefs:
    - name: main-gateway
      namespace: gateway
  hostnames:
    - vault.lippok.dev
  rules:
    - backendRefs:
        - name: vault-external
          port: 8200
